{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :main-opts ["-m" "kaocha.runner"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.68.1059"}}}

  :build
  {:deps {io.github.seancorfield/build-clj
          {:git/tag "v0.6.3" :git/sha "9b8e09b"}}
   :ns-default build}

  :eastwood
  {:extra-deps {jonase/eastwood {:mvn/version "0.5.1"}}
   :main-opts ["-m" "eastwood.lint" "{:source-paths,[\"src\"]}"]}}}
